@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-font-styles */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v31-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v31-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v31-latin-800.woff2') format('woff2');
}

@layer base {
  html {
    scroll-behavior: smooth;
    padding: 0px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: 600;
}

.swiper-button-prev,
.swiper-button-next {
  background: rgba(211, 211, 211, 0.442) !important;
  color: darkslategray !important;
  border-radius: 0px !important;
  height: 30px !important;
  width: 30px !important;
  box-shadow: 0px 0px 5px black;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: black !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: oklch(70.7% 0.022 261.324);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: lightgrey;
}